@import url("DebugConsole.css");

.pgIphone {
	font-family: Helvetica;
}

/*FIXME: I don't think this belongs here*/
.pgIphone h1 {
    margin: 0;
}

.pgIphone .clb {
    clear: both;
}

.pgIphone.pgLayout {
    width: 320px;
    border: 1px solid #4b4b4b;
}

.pgIphone .pgLayout > .pgContentPane {
    background-color: #ff0000;
}

.pgIphone .pgToolBar {
	height: 38px;
	background: url(images/toolbar_bg.png) bottom;
	background-repeat:repeat-x;
	background-color: #4b4b4b;
	padding-top: 11px;
}

.pgIphone .pgToolBarItem {
    position: relative;
	float: left;
	margin: 5px 9px 0 9px;
}

.pgIphone .pgToolBar .plain {
	margin-top: 9px;
	color: #fff;
    border: 0;
}

.pgIphone .pgToolBar .border {
	background-image: url(images/toolbar_button.png);
	text-align:center;
	font-size: 12px;
	color: #fff;
	height: 24px;
	width: 43px;
}

.pgIphone .pgToolBar .border span {
	margin-top: 4px;
	display: block;
}

.pgIphone .pgToolBar .plain,
.pgIphone .pgToolBar .border span {
	text-shadow: 1px 1px 0px #000;
}
