<div class="pgDebugConsole">
	<div dojoType="dijit.layout.BorderContainer" persist="false" gutters="true" class="tundra pgConsoleContainer">
		<div dojoType="dijit.layout.ContentPane" region="top" splitter="true" class="pgConsoleTitle">
			<h1>PhoneGap Debug Console: ${title}</h1>
		</div>
		<div dojoType="dijit.layout.ContentPane" region="left" splitter="true" class="pgConsolePanel">
			<div dojoType="dojox.phonegap.debug.ControlPanel"></div>
		</div>
		<div dojoType="dijit.layout.ContentPane" region="center" class="pgConsoleApplication">
			<div class="pgApplicationContainer" dojoAttachPoint="containerNode">
			</div>
		</div>
	</div>
</div>