@import url("../../dojo/dijit/themes/dijit.css");
@import url("../../dojo/dijit/themes/tundra/tundra.css");

html, body {
	height: 100%;
	width: 100%;
}
.pgDebugConsole {
	font-family: Helvetica;
	width: 100%;
	height: 100%;
}

.pgDebugConsole .pgConsoleContainer {
	height: 100%;
	width: 100%;
}

.pgDebugConsole .pgConsoleTitle {
	height: 70px;
	padding-left: 20px;
}

.pgDebugConsole .pgConsolePanel {
	width: 300px;
}

.pgDebugConsole .pgConsoleApplication {
	height: 100%
}

.pgDebugConsole .pgApplicationContainer {
	height: 100%;
	width: 100%;
}
